.task-container{
    /* background-color: #444; */
    background-color: tomato;
    margin: 8px 0 ;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eeee;
    align-items: center;
    cursor: pointer;

}
.task-title{
    transform: translateY(-1px);
}

.remove-task-button{
    /* background-color: #444; */
    background-color: aqua;
    display: flex;
    border: none;
    align-items: center;
    font-size: 22px;
    color: chartreuse;
    cursor: pointer;
}
